/* Très petits écrans (smartphones, moins de 768px) */
/* Pas besoin de media-query, c'est le style par défaut */

/* Petits écrans (tablettes, 768px et plus) */
@media (min-width: 768px) { ... }

/* Ecrans moyens (desktops, 992px et plus) */
@media (min-width: 992px) { ... }

/* Grands écrans (large desktops, 1200px et plus) */
@media (min-width: 1200px) {
header {
}

nav {
  width: 100%;
  top: 30px;
}
.contenantlelogo {
width: 30%;
}
.logo {
  width: 7%;
  margin-left: -23px;
}

li {
  margin:0 10px;
  display: inline-block;
}



.navigation {
  margin:0 10px;
  position: static;
  width: 60%;
  text-align: right;
}

.titre {
  width: 60%;
  margin-left: 75px;
}

h1 {
  color: red;
  font-size: 40px;
}

p {
  font-size: 30px;
}


input {
  border: none;
}

section {
  width: 99%;
  display: inline-block;
}

figure {
  display: inline-block;
  width: 228px;
}

img {
  width: 240px;
}


}
